# Bot configuration
config.json
config.json.bak

# Bot save states
state/
states/

# Bot temporaries
.update
.restart
crash.txt
stacktrace.txt
.firstrun

# Output executables
*.exe
*.app
*.old

# Most probable output executables for Linux
clinet

# Log files
*.log

# OS leftovers
desktop.ini
