# Bot configuration
config.json

# Bot save states
state/

# Bot temporaries
.update
.restart
crash.txt
stacktrace.txt

# Output executables (not accounting for Linux builds because fuck file extensions)
*.exe
*.app
*.old

# OS leftovers
desktop.ini